html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.katex-display > .katex {
  max-width: 100%;
}
.katex-display > .katex > .katex-html {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 2px;
  padding-right: 2px;
}

.text-html-latex {
  text-rendering: auto;
  font: normal 1.21em KaTeX_Main,Times New Roman,serif;
  line-height: normal;
  line-height: 1.2;
  text-indent: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}